<br>
<%# <div class="container" > %>
  <h1 id="user-title" style="text-align: center">Find Others</h1>

  <div class="flex-container justify-content-center" id="inner-card">
    <% @users.each do |user| %>

    <div class="card align-items-center m-4 p-2 col-2 rounded-4" id="user-card">
      <% if user.photo.key %>
        <%= cl_image_tag user.photo.key, height: 90, width: 90, crop: :fill, style: "border-radius: 50%;" if user.photo.key.present? %>
      <% else %>
        <img src="https://res.cloudinary.com/dgqqot40q/image/upload/v1686230942/TheLoop/placeholder_hfuoup.png" alt="A placeholder profile picture" height="90" width="90">
      <% end %>
      <strong><p style="color: #E22D06;margin: 10px;"><%= user.first_name%></p> </strong>
      <p><%= user.user_type %></p>
      <% if user.status %>
      <p><%= user.status %></p>
        <% else %>
          <br>
      <% end %>
      <div id="btn-user"><%= link_to "View", user_path(user)%></div>
    </div>

    <% end %>
  </div>
