<div class = "realign">
  <div id="fullpage" data-controller='home'>
    <div class="d-flex flex-row-reverse">
      <div class="menuButton" data-action='click->home#toggleMenu'>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="menu-items text-end" data-home-target='menu'>
        <li>Community</li>
        <li>Contact</li>
        <li>Why</li>
      </div>
    </div>

    <div class="d-flex hero">
      <div id="home-container">
      <div class="row">

        <div class="col-lg-12 col-xl-8">
          <div>
            <h2 id="herotext">A place for anyone impacted by Cancer, whether you have been diagnosed or are supporting a loved one.</h2>
          </div>

          <div class="text-container">
            <%if user_signed_in? %>
              <div class ="Heronav">
                <%= link_to my_communities_path do %>
                  <div class="col-sm-9" id="getin">
                    <h1 class="h1-large">Get in</h1>
                  </div>
                  <div class = "me-lg-3 mt-3 mb-lg-0">
                    <%= image_tag 'loops.png', alt: "Main Loop Hero" %>
                  </div>
                <% end %>
              </div>
            <%else%>
              <div class = "Heronav">
                <%= link_to user_session_path do %>
                  <div class="col-sm-9" id="getin">
                    <h1 class="h1-large">Get in</h1>
                  </div>
                  <div class = "me-lg-3 mt-3">
                    <%= image_tag 'loops.png', alt: "Main Loop Hero" %>
                  </div>
                <%end%>
              </div>
            <%end%>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    <div class = "my-5">
    <div class="values py-5">
      <h1 id="value2">Why Join The Loop?</h1>
      <div class="row">
        <div id="value1">
          <h3>Talk to people in your shoes    👣</h3>
        </div>
        <div id="value1">
          <h3>Share what works    💡</h3>
        </div>
        <div id="value1">
          <h3>Help others    🤝</h3>
        </div>
        <div id="value1">
          <h3>Get advice    🗣️</h3>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="containerexplanation">


    <div id="explanation">
      <h2 id="explanation-text-mine">Community</h2>
      <%= image_tag('community.png', alt: 'community', size: '80x80') %>
    </div>

    <div class = "d-flex justify-content-center">
      <div class="explanationcards">

        <div id="carded" class="custom-card card bg-c-pink rounded">
          <div class="card-block">
            <h6 class="m-b-20"><b>What can I eat when feeling nauseous?</b> </h6>
            <p>Hey, I just wanted to ask if anyone had any tips for cooking and eating when feeling off?</p>
            <div class="f-left">
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer">
            </div>
            <div class="f-right" style="margin-top: 10px;">
              <b>2</b> Comments    <b>5</b> Upvotes
            </div>
          </div>
        </div>

        <div id="carded"class="custom-card card bg-c-pink">
          <div class="card-block">
            <h6 class="m-b-20"><b>What can I eat when feeling nauseous?</b></h6>
            <p>Hey, I just wanted to ask if anyone had any tips for cooking and eating when feeling off?</p>
            <div class="f-left">
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer">
            </div>
            <div class="f-right" style="margin-top: 10px;">
              <b>2</b>  Comments    <b>5</b> Upvotes
            </div>
          </div>
        </div>

        <div id="carded"class="custom-card card bg-c-pink">
          <div class="card-block">
            <h6 class="m-b-20"><b>What can I eat when feeling nauseous?</b></h6>
            <p>Hey, I just wanted to ask if anyone had any tips for cooking and eating when feeling off?</p>
            <div class="f-left">
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            </div>
            <div class="f-right" style="margin-top: 10px;">
              <b>2</b> Comments    <b>5</b> Upvotes
            </div>
          </div>
        </div>

        <div id="carded" class="custom-card card bg-c-pink">
          <div class="card-block">
            <h6 class="m-b-20"><b>What can I eat when feeling nauseous?</b></h6>
            <p>Hey, I just wanted to ask if anyone had any tips for cooking and eating when feeling off?</p>
            <div class="f-left">
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            </div>
            <div class="f-right" style="margin-top: 10px;">
              <b>2</b> Comments    <b>5</b> Upvotes
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="who">
      <div class="container">
        <h4 id="explanation-text1">The Loop provides access to a community who are there to listen, share information and offer valuable advice.</h4>
      </div>
    </div>

  </div>


</div>
