<% if @posts != [] %>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do%>
      <div class= "card my-3 p-3 text-bg-light d-flex flex-row">
        <%= post.title %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @communities != [] %>
  <h1>Communities</h1>
  <% @communities.each do |community| %>
    <%= link_to community_path(community.id) do%>
      <div class= "card my-3 p-3 text-bg-light d-flex flex-row">
        <%= community.title %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @comments != [] %>
  <h1>Comments</h1>
  <% @comments.each do |comment| %>
    <%= link_to post_path(comment.post_id) do%>
      <div class= "card my-3 p-3 text-bg-light d-flex flex-row">
        <%= comment.content %>
      </div>
    <% end %>
  <% end %>
<% end %>
