<% if @posts != [] %>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do%>
      <div style="background-color: #ffe7eb" class= "card my-3 p-3">
        <h5><%= post.title %></h5>
        <p class="text-black"><%= post.content %></p>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @communities != [] %>
  <h1>Communities</h1>
  <% @communities.each do |community| %>
    <%= link_to community_path(community.id) do%>
      <div style="background-color: #ffe7eb" class= "card my-3 p-3">
        <h5><%= community.title %></h5>
        <p class="text-black"><%= community.description %></p>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @comments != [] %>
  <h1>Comments</h1>
  <% @comments.each do |comment| %>
    <%= link_to post_path(comment.post_id) do%>
      <div style="background-color: #ffe7eb" class= "card my-3 p-3">
        <p class="text-black"><%= comment.content %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
