<h3>Submit New Post</h3>
<%= simple_form_for [@community, @post] do |f| %>
  <%= f.input :title, label: false, placeholder:"Choose A Title...", required: false %>
  <%= f.input :content, label: false, placeholder: "Start A Discussion...", :input_html => {:style => "height: 200px"}, required: false %>
<%= f.input :photo, as: :file, label: "Upload A Picture For Your Post", input_html: { class: "custom-file-input" } %>
  <%= f.submit "Submit Post!", data: { disable_with: false }, class: "btn btn-outline-danger my-3 mx-auto" %>
<% end %>
