<h3>Submit New Post</h3>
<%= simple_form_for [@community, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
<%= f.input :photo, as: :file, label: "Upload a picture for your post", input_html: { class: "custom-file-input" } %>
  <%= f.submit "Post", data: { disable_with: false }, class: "btn btn-outline-danger mx-auto" %>
<% end %>
