<div class = "posts-body-container" >

  <%=render "shared/banner"%>


  <div class = "post-display mt-5">
    <div class = "poster-info-container d-flex">

      <div class = "avatar w-25">
        <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill, style: "border-radius: 50% ; border: 2px solid #80c5bd;" if @user.photo.key.present? %>
      </div>

      <div class = "username w-50">
        <h3><%= @user.username%></h3>
      </div>

      <div class = "post-icons w-25">
          <% if current_user.id == @post.user_id %>
              <li class = "post-hamburger-item">
                <ul>
                  <%= link_to edit_post_path, data: { turbo_method: :get, turbo_confirm: "Are you sure to edit?"} do %>
                    Edit This Post
                  <%end%>
                </ul>
                <ul>
                  <%= link_to delete_post_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?"} do %>
                  Delete This post
                  <%end%>
               </ul>
              </li>
            <%else%>
             <li class = "post-hamburger-item">
              <ul>
                <%= link_to flag_post_path(@post), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to flag this post?"} do %>
                  Flag this Post
                <%end%>
              </ul>
            </li>
          <% end %>
      </div>
    </div>

      <div class = "poster-text">
        <div class = "title-container">
          <h2><%=@post.title%></h2>
        </div>
      </div>
    </div>

    <div class = "content-info-container mt-3">
      <div class = "content-container">
        <%=@post.content%>
      </div>

      <div class= "show-me-photo">
      <%= cl_image_tag @post.photo.key, height: 100, width: 100, crop: :fill, style: "border: 2px solid #80c5bd;" if @post.photo.key.present?%>
      </div>
      <div id = "upvote-container">
        <%# < spanning upvote action < upvote icon>
              < Post_upvotes.where(post_id == @post.id).count?>
        > %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class = "commentsgetrenderedhere mt-5">
  <h2>All comments</h2>
    <% @post.comments.each do |comment| %>
      <div class="card mb-1 w-75">
        <div class="card-body">
          <%= comment.user.username %>
          <br>
          <%= comment.content %>

        </div>
      </div>
      <div class = "buttons-here w-25">
        <%= link_to "Delete",
            delete_comment_path(comment),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if current_user.id == comment.user_id
          %>
      </div>
<% end %>
</div>
