<%= render "shared/banner" %>

<div class="postz my-5">
  <div class="d-flex justify-content-space-between">
    <div class="post-avatar-title mb-4 w-75 align-items-center">
      <div class="avatar">
        <%= cl_image_tag @user.photo.key, alt: "#{@user.username}'s avatar", height: 100, width: 100, crop: :fill, style: "border-radius: 50% ; border: 2px solid #80c5bd;" if @user.photo.key.present? %>
      </div>
      <div class="post-user-name mx-3">
        <%= link_to user_path(@user.id) do %>
          <h2 id="userz"><%= @user.username %></h2>
        <% end %>
      </div>
      <div class="options d-flex flex-row justify-content-end"; style="height: fit-content; margin-top: 1.5rem;";>
        <p class="post-pills mx-3"><%=@user.user_type%></p>
        <%if @user.status%>
          <p class="post-pills mx-3"><%=@user.status%></p>
        <%end%>
      </div>
    </div>
      <div class="w-25 d-flex flex-row-reverse" style="left: 50px; position: relative;" >
        <%= render "shared/postsdrop" %>
      </div>
  </div>

  <div class="post-content mx-3">
    <div class="post-title">
      <h2><%=@post.title %></h2>

    </div>
    <div class="postcontent my-3">
      <p><%=@post.content%></p>
    </div>
    <div class="postimg d-flex justify-content-center my-5">
      <%= cl_image_tag @post.photo.key, height: 500, width: 500, crop: :fill, style: "border-radius: 15px;" if @post.photo.key.present?%>
    </div>
  </div>
  <div class="d-flex flex-row-reverse my-3">
    <div class="post-social-ctas">

      <% if @post_vote.nil? %>
        <div id="arrow" style="display: flex; align-items: center;">
          <i class="fa-solid fa-circle-arrow-up mx-1" id="fa-arrow" style="color: #e22d06;"></i>

          <%= link_to post_post_upvotes_path(@post), data: {turbo_method: :post} do %>
            <p class="post-votes"><%=@posts_count%> Upvotes</p>
          <% end %>
      </div>
      <% else %>
        <div id="arrow" style="display: flex; align-items: center;">
          <i class="fa-solid fa-circle-arrow-up mx-1" id="fa-arrow"style="color: #e22d06;"></i>
          <p class="post-votes">
          <%= "#{@posts_count} #{"Upvote".pluralize(@posts_count)}"%>
          </p>
      </div>
      <%end%>



      <div id="commentz" style="display: flex; align-items: center;">
        <i class="fa-regular fa-comment mx-1" style="color: #e22d06;"></i>
        <p class="post-comments"><%= @post.comments.count %> Comments</p>
      </div>

    </div>
  </div>
</div>

<div class="d-flex mb-5">
  <div class="postcomentz w-50">
    <h2 class="text-center">Comments For <%=@post.title%></h2>
    <div class = "commentsgetrenderedhere mt-5">
      <% @post.comments.each do |comment| %>
        <div class="card py-2 px-2 mb-2">
          <div class="card-body pt-2">
            <h5 class="mb-3"><%= comment.user.username %></h5>
            <%= comment.content %>
          </div>

          <%if current_user.id == comment.user_id%>
            <div class="buttons-here px-3" style="display: flex; align-self: flex-end; justify-content: space-between; width: 120px;">
              <%= link_to "Delete ", delete_comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?"} %>

              <%= link_to " Edit", delete_comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to edit this comment?"}%>
          <%else%>
            <div class="buttons-here px-3" style="display: flex; align-self: flex-end; ">
              <%= link_to "Flag", delete_comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to flag this comment?"}%>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>

    <%if @post.comments[0].nil? %>
      <div class="mt-5 text-center">
        <h4>No Comments For This Post Yet 😔 Be The First?</h4>
      </div>
    <%end%>
  </div>

  <div class="commentsnewform w-50" style="height:50%; position: sticky; top: 20px;">
    <h2 class="text-center">Submit A Comment</h2>
    <%= render "comments/new"%>
  </div>
</div>

<%= link_to community_path(@community), { class: "btn-outline-danger btn mt-5" } do %>
  Back To <%=@community.title%>
<% end %>
