<h1>Popular Loops</h1>

<div class="communitygrid">
  <% @communities.each do |community| %>
    <div class="communitiescard card m-3" style="width: 18rem; height: 9rem;">
      <div class="card-body">
        <%= link_to community_path(community.id) do %>
          <h4 class="card-title"><%=community.title%></h4>
          <p class="card-text"><%=community.description%></p>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<h1>Your Loops</h1>
<% if @my_loops.any? %>
  <div class="communitygrid">
    <% @my_loops.each do |my_loop|%>
      <div class="communitiescard card m-3" style="width: 18rem; height: 9rem;">
        <div class="card-body">
          <%= link_to community_path(my_loop.id) do %>
            <h4 class="card-title"><%=my_loop.title%></h4>
            <p class="card-text"><%=my_loop.description%></p>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class = "my-5">
    <h4> <%= link_to "You Haven't Subscribed To Any Loops Yet 😔 See All Loops?", communities_path %></h4>
  </div>
<% end %>
